extends base.pug

block content
  ul(class='nav nav-pills')
    li
      a(href='/users/logout') Logout
    li(class='active')
      a(href='./file-upload') Upload/List
    li
      a(href='./file-search') Search
  div(class='container-fluid')
    h2 File Upload
    form(action='/files/file-upload', method='POST', enctype='multipart/form-data')
      div(class='form-group')
        label(for='description') Description:
        textarea(class='form-control' name='description', id="description")
      div(class='form-group')
        input(type='file', name='upload', required)
      button(type='submit', class='btn btn-default') Upload
    table(class='table')
      thead
          tr
            th Name
            th Type
            th Date
            th Description
      tbody
        each file in files
          tr
            td #{file.name}
            td #{file.type}
            td #{file.uploadDate}
            td #{file.description}
