extends base.pug

block content

  ul(class='nav nav-pills')
    li
      a(href='/users/logout') Logout
    li
      a(href='./file-upload') Upload/List
    li
      a(href='./file-search') Search
    li(class='active')
      a(href='#') Search Results

  div(class='container-fluid')
    h2 File Search Results
    h4 for: "#{searchText}"...
    ul
      each file in files
        li #{file}
